@page "/"
@rendermode InteractiveServer
@inject NavigationManager Nav

<div class="admin-page">
    <div class="admin-card">
        <h3 class="home-title">Bienvenido</h3>
        <p class="home-subtitle">UserManagment</p>

        <div class="form-options">
            <button class="login-btn" @onclick="Loginbtn">
                <span class="btn-text">Ingresar</span>
            </button>
        </div>
    </div>
</div>

@code {
    private void Loginbtn()
    {
        Nav.NavigateTo("/login");
    }
}
