@page "/home"
@rendermode InteractiveServer
@inject NavigationManager Nav

<PageTitle>Home</PageTitle>

<div class="admin-page">
    <div class="admin-card">
        <h1 class="home-title">Hello, world!</h1>
        <p class="home-subtitle">Welcome to your new app.</p>

        <Component />
    </div>
</div>